In [1]:
print("hello world")

hello world

# Python Basics

In [2]:
a = 12
b = 21
c = a + b

In [3]:
print("Sum is",c)

Sum is 33

In [4]:
print("Sum is %d"%c)

Sum is 33

In [5]:
print("Sum of", a, "and", b, "is", c)
print("Sum of %d and %d is %d"%(a,b,c))

Sum of 12 and 21 is 33
Sum of 12 and 21 is 33

In [6]:
name = "Ravi"
age = 50

In [11]:
# msg = "Hello ", name, " your age is ", age
msg = "Hello {}, your age is {}".format(name,age)

In [12]:
msg

'Hello Ravi, your age is 50'

In [13]:
type(msg)

str

In [16]:
print("Sum of {1} and {2} is {0}".format(c,a,b))

Sum of 12 and 21 is 33

In [17]:
print(f"Sum of {a} and {b} is {c}")

Sum of 12 and 21 is 33

In [18]:
# Multiline print
print("""
1. Add
2. Sub
3. Div
4. Mul
""")

1. Add
2. Sub
3. Div
4. Mul

In [19]:
d = a - b
e = a * b
f = a / b

In [20]:
# Multiline print
print(f"""
1. Add is {c}
2. Sub is {d}
3. Div is {f}
4. Mul is {e}
""")

1. Add is 33
2. Sub is -9
3. Div is 0.5714285714285714
4. Mul is 252

In [22]:
name = input("Enter your name : ")

Enter your name : Tom

In [23]:
name

'Tom'

In [25]:
f_num = int(input("Enter first number : "))
s_num = int(input("Enter second number : "))
res = f_num + s_num
print("Sum is",res)

Enter first number : 12
Enter second number : 22
Sum is 34