In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

C:\Users\asus\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\asus\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [3]:
dataset.shape

(10000, 14)

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X = dataset.iloc[:,3:-1]
# X = dataset.iloc[:,[3,6,8,4,7,8]]
y = dataset.iloc[:,-1]

In [6]:
encoder = LabelEncoder()
X['Gender'] = encoder.fit_transform(X['Gender'])

In [7]:
X['Gender'][:10]

0    0
1    0
2    0
3    0
4    0
5    1
6    1
7    0
8    1
9    1
Name: Gender, dtype: int32

In [8]:
X['Geography'] = encoder.fit_transform(X['Geography'])

In [10]:
# X['Geography'][:20]

In [11]:
onehot = OneHotEncoder(categorical_features=[1])
X = onehot.fit_transform(X)

C:\Users\asus\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [13]:
X.shape

(10000, 12)

In [16]:
X = X.toarray()

In [18]:
sc = StandardScaler()
X = sc.fit_transform(X)

In [19]:
X[:2]

array([[ 0.99720391, -0.57873591, -0.57380915, -0.32622142, -1.09598752,
         0.29351742, -1.04175968, -1.22584767, -0.91158349,  0.64609167,
         0.97024255,  0.02188649],
       [-1.00280393, -0.57873591,  1.74273971, -0.44003595, -1.09598752,
         0.19816383, -1.38753759,  0.11735002, -0.91158349, -1.54776799,
         0.97024255,  0.21653375]])

In [20]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [21]:
x_train.shape

(7500, 12)

In [22]:
reg = LogisticRegression()
reg.fit(x_train,y_train)

C:\Users\asus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
log_prediction = reg.predict(x_test)

In [24]:
accuracy_score(y_test,log_prediction)

0.8228

In [25]:
confusion_matrix(y_test,log_prediction)

array([[1962,   69],
       [ 374,   95]], dtype=int64)

In [26]:
1962 + 95

2057

In [27]:
69 + 374

443

In [29]:
2057 + 443

2500

In [31]:
svm = SVC()
svm.fit(x_train,y_train)

C:\Users\asus\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [32]:
svm_pred = svm.predict(x_test)

In [33]:
accuracy_score(y_test,svm_pred)

0.8656